## Homework 3 Part 3

## List comprehensions

**Problem 1:** Use list comprehension syntax with range function to get this output :
['10', '12', '14', '16', '18']

Do not use any conditional statement or expression (if, else, etc.).

In [9]:
[str(a) for a in range(10,19,2)]

['10', '12', '14', '16', '18']

**Problem 2:** Use list comprehension syntax to add 5 to each of the below list elements, multiply them by 10 and make them float type numbers. The output will be this:
[50.0, 60.0, 70.0, 150.0, 160.0, 170.0, 180.0, 230.0, 240.0]

In [10]:
ls= [0, 1, 2, 10, 11, 12, 13, 18, 19]

In [11]:
[float((a+5)*10) for a in ls]

[50.0, 60.0, 70.0, 150.0, 160.0, 170.0, 180.0, 230.0, 240.0]

**Problem 3:** Use list comprehension syntax to filter the below names' list in a way that only names with 4 or less characters remain in the list. The output will be this:
['Lia', 'Emma', 'Noah', 'Ava']

In [14]:
ls2 = ["Lia", "Emma", "Noah", "Olivia", "William", "Ava", "James", "Isabella"]

In [15]:
[a for a in ls2 if len(a)<=4]

['Lia', 'Emma', 'Noah', 'Ava']

**Problem 4:** Use list comprehension syntax to make uppercase and take first 3 characters of all the names that contian letter "m" in them. The output will be:

['Lia', 'EMM', 'Noah', 'Olivia', 'WIL', 'Ava', 'JAM', 'Isabella']

In [43]:
ls2 = ["Lia", "Emma", "Noah", "Olivia", "William", "Ava", "James", "Isabella"]

In [44]:
[a[0:3].upper() if "m" in a else a for a in ls2]

['Lia', 'EMM', 'Noah', 'Olivia', 'WIL', 'Ava', 'JAM', 'Isabella']

**Problem 5:** Flatten below list with list comprehension syntax. The output will be:

['a', 'b', 'c', 4, 5, 6, True, False, None]

In [45]:
ls3 = [["a","b","c"],[4,5,6],[True, False, None]]

In [46]:
[a for b in ls3 for a in b]

['a', 'b', 'c', 4, 5, 6, True, False, None]

**Problem 6:** Use list comprehension, formated string literals' (f-strings(Lecture 3 - Topic 4)) and zip syntax to concatentate respective elements of the below lists  with dash(-) and make the output list elements uppercase. Output will be this:

['ONE-1-ՄԵԿ', 'TWO-2-ԵՐԿՈՒ', 'THREE-3-ԵՐԵՔ']

In [56]:
a = ["one", "two", "three"]
b = [1, 2, 3]
c = ["մեկ","երկու", "երեք"]

In [57]:
[f"{q.upper()}-" + str(w) + f"-{e.upper()}" for q, w, e in zip(a, b,c)]

['ONE-1-ՄԵԿ', 'TWO-2-ԵՐԿՈՒ', 'THREE-3-ԵՐԵՔ']

**Problem 7:** Solve the above problem without zip function, using index-based approach mentioned in the lecture of list comprehensions:

In [58]:
[f"{a[i].upper()}-" + str(b[i]) + f"-{c[i].upper()}" for i in range(len(b))]

['ONE-1-ՄԵԿ', 'TWO-2-ԵՐԿՈՒ', 'THREE-3-ԵՐԵՔ']

**Problem 8:** All country football teams in Group A are going to play with all country football teams in Group B. Use list comprehension  and f-strings syntax mentioned above to output the list of all possible game combinations. The output will be this:

['Armenia-France', 'Armenia-Spain', 'Armenia-Brazil', 'Armenia-Germany', 'Italy-France', 'Italy-Spain', 'Italy-Brazil', 'Italy-Germany', 'Belgium-France', 'Belgium-Spain', 'Belgium-Brazil', 'Belgium-Germany']

In [1]:
Group_A = ["Armenia", "Italy", "Belgium"]
Group_B = ["France", "Spain", "Brazil", "Germany"]

In [2]:
[f"{Group_A[i]}-{Group_B[j]}" for i in range(3) for j in range(4)]

['Armenia-France',
 'Armenia-Spain',
 'Armenia-Brazil',
 'Armenia-Germany',
 'Italy-France',
 'Italy-Spain',
 'Italy-Brazil',
 'Italy-Germany',
 'Belgium-France',
 'Belgium-Spain',
 'Belgium-Brazil',
 'Belgium-Germany']

**Problem 9:** Convert the below code into list comprehension syntax. Must be one line of code.

In [22]:
a = range(10)

b=[]
for num in a:
    if num > 5:
        k = "Greater than 5"
    elif num == 0:
        k = "Zero"
    else:
        k = "Between 1 and 5 both included"
    b.append(k)
b

['Zero',
 'Between 1 and 5 both included',
 'Between 1 and 5 both included',
 'Between 1 and 5 both included',
 'Between 1 and 5 both included',
 'Between 1 and 5 both included',
 'Greater than 5',
 'Greater than 5',
 'Greater than 5',
 'Greater than 5']

In [23]:
["Zero" if b == 0 else "Greater than 5" if b > 5 else "Between 1 and 5 both included" for b in range(10)]

['Zero',
 'Between 1 and 5 both included',
 'Between 1 and 5 both included',
 'Between 1 and 5 both included',
 'Between 1 and 5 both included',
 'Between 1 and 5 both included',
 'Greater than 5',
 'Greater than 5',
 'Greater than 5',
 'Greater than 5']

**Problem 10:** Convert the below code into list comprehension syntax. You must add one line of code given lists x and y.

In [ ]:
x = [1, 8, 25]
y = [2, 3, 16]

In [62]:
n = []
for i in x:
    for j in y:
        n.append(i*j)
n

[2, 3, 16, 16, 24, 128, 50, 75, 400]

In [24]:
x = [1, 8, 25]
y = [2, 3, 16]

In [25]:
[i*j for i in x for j in y]

[2, 3, 16, 16, 24, 128, 50, 75, 400]

**Problem 11:** Convert the below code into list comprehension syntax. You must add one line of code given list ls3.

In [27]:
ls3 = [["a","b","c"],[4,5,6],[True, False, None]]
v = []
for i in ls3:
    for j in i:
        v.append(j)
v

['a', 'b', 'c', 4, 5, 6, True, False, None]

In [37]:
ls3 = [["a","b","c"],[4,5,6],[True, False, None]]

In [38]:
[v[i] for v in ls3 for i in range(len(ls3))]

['a', 'b', 'c', 4, 5, 6, True, False, None]

## Dictionary comprehensions

**Problem 12:** Use dictionary comprehension syntax to get this output based on keys and values lists given below:

{'one': 1, 'two': 2, 'there': 3}

Must be one line of code.

In [30]:
keys = ["one", "two", "there"]
values = [1, 2, 3]

In [31]:
{i:j for i,j in zip(keys, values)}

{'one': 1, 'two': 2, 'there': 3}

**Problem 13:** Use dictionary comprehension syntax to create dictionary based on "names" and "numbers" lists given below where the names start with "A" and numbers contain "8". The output will be this:

{'Anna': '21-73-28', 'Aram': '28-73-36'}

Must be one line of code.

In [41]:
names = ['Hayk', 'Ani', 'Anna', 'Aram', 'Vahe']
numbers = ["16-73-12", "26-73-15", "21-73-28", "28-73-36", "26-73-48"]

In [42]:
{i:j for i,j in zip(names, numbers) if "A" in i and "8" in j}

{'Anna': '21-73-28', 'Aram': '28-73-36'}

**Problem 14:** Use dictonary comprehension syntax to keep the dictionary values that are divisable by 2 as they are and make remaining values zero. You must add one line of code given dictionary num_dict. The output will be this:

{'one': 0, 'two': 2, 'three': 0, 'four': 4, 'five': 0}

In [47]:
num_dict = {'one':1,'two':2,'three':3, 'four':4,'five':5}

In [48]:
{i:j if j % 2 == 0 else 0 for i, j in num_dict.items()}

{'one': 0, 'two': 2, 'three': 0, 'four': 4, 'five': 0}

**Problem 15:** Convert the below code into dictionary comprehension syntax. You must add one line of code given lists "keys" and "values".

In [49]:
keys=["r","g","b"]
values=["red","green","blue"]
f = {}
for i,j in zip(keys, values):
    f.update({i:j})
f

{'r': 'red', 'g': 'green', 'b': 'blue'}

In [50]:
keys=["r","g","b"]
values=["red","green","blue"]

In [51]:
{keys[i]:values[i] for i in range(len(keys))}

{'r': 'red', 'g': 'green', 'b': 'blue'}

**Problem 16:** Use dictionary comprehension syntax and enumerate() function to create a dictionary where the uppercased names will be values and indicies in string format will be keys. You must add one line of code given list "names". The output will be this:
{'0': 'HAYK', '1': 'ANI', '2': 'ANNA', '3': 'ARAM', '4': 'VAHE'}

In [52]:
names = ['Hayk', 'Ani', 'Anna', 'Aram', 'Vahe']

In [53]:
{str(i):j.upper() for i,j in enumerate(names, 0)}

{'0': 'HAYK', '1': 'ANI', '2': 'ANNA', '3': 'ARAM', '4': 'VAHE'}

**Problem 17:**

Given a dictionary, swap the keys and values of the dictionary using dictionary comprehension syntax.

In [62]:
test={1:2,3:4,5:6}

In [63]:
{i: j for j, i in test.items()}

{2: 1, 4: 3, 6: 5}

## Set comprehensions

**Problem 18:** Use set comprehension syntax to add "Name: " before each element of the set. You must add one line of code given set "names". The output will be this:
{'Name :Ani', 'Name :Anna', 'Name :Aram', 'Name :Hayk', 'Name :Vahe'}

In [5]:
names = {'Hayk', 'Ani', 'Anna', 'Aram', 'Vahe'}

In [6]:
{"Name :"+i for i in names}

{'Name :Ani', 'Name :Anna', 'Name :Aram', 'Name :Hayk', 'Name :Vahe'}

### Medium Problems

**Problem 19:**

Write a list comprehension to flatten the nested list below.

**Hint:** In my solution I used 4 different list comprehensions and isinstance() function for checking whether the element is a list or int.

In [13]:
flatten_me = [[[1,2]],[[[3],[4]]],[5,[6,7]]]

In [14]:
k = [i for j in flatten_me for i in (j if isinstance(j, list) else (j,))]

x = [i for j in k for i in (j if isinstance(j, list) else (j,))]

y = [i for j in x for i in (j if isinstance(j, list) else (j,))]

print(y)

[1, 2, 3, 4, 5, 6, 7]

**Problem 20:**

Generate all possible subsets of the given list using list comprehensions. The output must be a list of sets where each set is a subset of the list. You can read about related set theory [here](https://en.wikipedia.org/wiki/Power_set).

**Hint:** You may need to use bitwise operators. [This discussion](https://stackoverflow.com/questions/1482308/how-to-get-all-subsets-of-a-set-powerset) may be helpful.

In [17]:
subsetme=[1,2,3,4,5,6,7,8]

[[list(subsetme)[k] for k in range(len(subsetme)) if i & 1 << k] for i in range(2**len(subsetme))]

[[],
 [1],
 [2],
 [1, 2],
 [3],
 [1, 3],
 [2, 3],
 [1, 2, 3],
 [4],
 [1, 4],
 [2, 4],
 [1, 2, 4],
 [3, 4],
 [1, 3, 4],
 [2, 3, 4],
 [1, 2, 3, 4],
 [5],
 [1, 5],
 [2, 5],
 [1, 2, 5],
 [3, 5],
 [1, 3, 5],
 [2, 3, 5],
 [1, 2, 3, 5],
 [4, 5],
 [1, 4, 5],
 [2, 4, 5],
 [1, 2, 4, 5],
 [3, 4, 5],
 [1, 3, 4, 5],
 [2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [6],
 [1, 6],
 [2, 6],
 [1, 2, 6],
 [3, 6],
 [1, 3, 6],
 [2, 3, 6],
 [1, 2, 3, 6],
 [4, 6],
 [1, 4, 6],
 [2, 4, 6],
 [1, 2, 4, 6],
 [3, 4, 6],
 [1, 3, 4, 6],
 [2, 3, 4, 6],
 [1, 2, 3, 4, 6],
 [5, 6],
 [1, 5, 6],
 [2, 5, 6],
 [1, 2, 5, 6],
 [3, 5, 6],
 [1, 3, 5, 6],
 [2, 3, 5, 6],
 [1, 2, 3, 5, 6],
 [4, 5, 6],
 [1, 4, 5, 6],
 [2, 4, 5, 6],
 [1, 2, 4, 5, 6],
 [3, 4, 5, 6],
 [1, 3, 4, 5, 6],
 [2, 3, 4, 5, 6],
 [1, 2, 3, 4, 5, 6],
 [7],
 [1, 7],
 [2, 7],
 [1, 2, 7],
 [3, 7],
 [1, 3, 7],
 [2, 3, 7],
 [1, 2, 3, 7],
 [4, 7],
 [1, 4, 7],
 [2, 4, 7],
 [1, 2, 4, 7],
 [3, 4, 7],
 [1, 3, 4, 7],
 [2, 3, 4, 7],
 [1, 2, 3, 4, 7],
 [5, 7],
 [1, 5, 7],
 [2, 5, 7],
 [1, 2, 5, 7],
 [3, 5, 7],
 [1, 3, 5, 7],
 [2, 3, 5, 7],
 [1, 2, 3, 5, 7],
 [4, 5, 7],
 [1, 4, 5, 7],
 [2, 4, 5, 7],
 [1, 2, 4, 5, 7],
 [3, 4, 5, 7],
 [1, 3, 4, 5, 7],
 [2, 3, 4, 5, 7],
 [1, 2, 3, 4, 5, 7],
 [6, 7],
 [1, 6, 7],
 [2, 6, 7],
 [1, 2, 6, 7],
 [3, 6, 7],
 [1, 3, 6, 7],
 [2, 3, 6, 7],
 [1, 2, 3, 6, 7],
 [4, 6, 7],
 [1, 4, 6, 7],
 [2, 4, 6, 7],
 [1, 2, 4, 6, 7],
 [3, 4, 6, 7],
 [1, 3, 4, 6, 7],
 [2, 3, 4, 6, 7],
 [1, 2, 3, 4, 6, 7],
 [5, 6, 7],
 [1, 5, 6, 7],
 [2, 5, 6, 7],
 [1, 2, 5, 6, 7],
 [3, 5, 6, 7],
 [1, 3, 5, 6, 7],
 [2, 3, 5, 6, 7],
 [1, 2, 3, 5, 6, 7],
 [4, 5, 6, 7],
 [1, 4, 5, 6, 7],
 [2, 4, 5, 6, 7],
 [1, 2, 4, 5, 6, 7],
 [3, 4, 5, 6, 7],
 [1, 3, 4, 5, 6, 7],
 [2, 3, 4, 5, 6, 7],
 [1, 2, 3, 4, 5, 6, 7],
 [8],
 [1, 8],
 [2, 8],
 [1, 2, 8],
 [3, 8],
 [1, 3, 8],
 [2, 3, 8],
 [1, 2, 3, 8],
 [4, 8],
 [1, 4, 8],
 [2, 4, 8],
 [1, 2, 4, 8],
 [3, 4, 8],
 [1, 3, 4, 8],
 [2, 3, 4, 8],
 [1, 2, 3, 4, 8],
 [5, 8],
 [1, 5, 8],
 [2, 5, 8],
 [1, 2, 5, 8],
 [3, 5, 8],
 [1, 3, 5, 8],
 [2, 3, 5, 8],
 [1, 2, 3, 5, 8],
 [4, 5, 8],
 [1, 4, 5, 8],
 [2, 4, 5, 8],
 [1, 2, 4, 5, 8],
 [3, 4, 5, 8],
 [1, 3, 4, 5, 8],
 [2, 3, 4, 5, 8],
 [1, 2, 3, 4, 5, 8],
 [6, 8],
 [1, 6, 8],
 [2, 6, 8],
 [1, 2, 6, 8],
 [3, 6, 8],
 [1, 3, 6, 8],
 [2, 3, 6, 8],
 [1, 2, 3, 6, 8],
 [4, 6, 8],
 [1, 4, 6, 8],
 [2, 4, 6, 8],
 [1, 2, 4, 6, 8],
 [3, 4, 6, 8],
 [1, 3, 4, 6, 8],
 [2, 3, 4, 6, 8],
 [1, 2, 3, 4, 6, 8],
 [5, 6, 8],
 [1, 5, 6, 8],
 [2, 5, 6, 8],
 [1, 2, 5, 6, 8],
 [3, 5, 6, 8],
 [1, 3, 5, 6, 8],
 [2, 3, 5, 6, 8],
 [1, 2, 3, 5, 6, 8],
 [4, 5, 6, 8],
 [1, 4, 5, 6, 8],
 [2, 4, 5, 6, 8],
 [1, 2, 4, 5, 6, 8],
 [3, 4, 5, 6, 8],
 [1, 3, 4, 5, 6, 8],
 [2, 3, 4, 5, 6, 8],
 [1, 2, 3, 4, 5, 6, 8],
 [7, 8],
 [1, 7, 8],
 [2, 7, 8],
 [1, 2, 7, 8],
 [3, 7, 8],
 [1, 3, 7, 8],
 [2, 3, 7, 8],
 [1, 2, 3, 7, 8],
 [4, 7, 8],
 [1, 4, 7, 8],
 [2, 4, 7, 8],
 [1, 2, 4, 7, 8],
 [3, 4, 7, 8],
 [1, 3, 4, 7, 8],
 [2, 3, 4, 7, 8],
 [1, 2, 3, 4, 7, 8],
 [5, 7, 8],
 [1, 5, 7, 8],
 [2, 5, 7, 8],
 [1, 2, 5, 7, 8],
 [3, 5, 7, 8],
 [1, 3, 5, 7, 8],
 [2, 3, 5, 7, 8],
 [1, 2, 3, 5, 7, 8],
 [4, 5, 7, 8],
 [1, 4, 5, 7, 8],
 [2, 4, 5, 7, 8],
 [1, 2, 4, 5, 7, 8],
 [3, 4, 5, 7, 8],
 [1, 3, 4, 5, 7, 8],
 [2, 3, 4, 5, 7, 8],
 [1, 2, 3, 4, 5, 7, 8],
 [6, 7, 8],
 [1, 6, 7, 8],
 [2, 6, 7, 8],
 [1, 2, 6, 7, 8],
 [3, 6, 7, 8],
 [1, 3, 6, 7, 8],
 [2, 3, 6, 7, 8],
 [1, 2, 3, 6, 7, 8],
 [4, 6, 7, 8],
 [1, 4, 6, 7, 8],
 [2, 4, 6, 7, 8],
 [1, 2, 4, 6, 7, 8],
 [3, 4, 6, 7, 8],
 [1, 3, 4, 6, 7, 8],
 [2, 3, 4, 6, 7, 8],
 [1, 2, 3, 4, 6, 7, 8],
 [5, 6, 7, 8],
 [1, 5, 6, 7, 8],
 [2, 5, 6, 7, 8],
 [1, 2, 5, 6, 7, 8],
 [3, 5, 6, 7, 8],
 [1, 3, 5, 6, 7, 8],
 [2, 3, 5, 6, 7, 8],
 [1, 2, 3, 5, 6, 7, 8],
 [4, 5, 6, 7, 8],
 [1, 4, 5, 6, 7, 8],
 [2, 4, 5, 6, 7, 8],
 [1, 2, 4, 5, 6, 7, 8],
 [3, 4, 5, 6, 7, 8],
 [1, 3, 4, 5, 6, 7, 8],
 [2, 3, 4, 5, 6, 7, 8],
 [1, 2, 3, 4, 5, 6, 7, 8]]

**Problem 21:**

Tribonnaci numbers are a sequence of number that start with 0, 1, 1 and every next element is the sum of last three elements.

Formally tribonnaci is defined as follows.<br>
T(0)=0<br>
T(1)=1<br>
T(2)=1<br>
T(n)=T(n-1)+T(n-2)+T(n-3) | n >= 3<br>

Use list comprehension syntax to generate the list of first 100 tribonacci numbers.

In [21]:
trib = []
trib.append(0) #first element
trib.append(1) #second element
trib.append(1) #third element
[trib.append(trib[k-1]+trib[k-2]+trib[k-3]) for k in range(3,101)]
print(trib)

[0, 1, 1, 2, 4, 7, 13, 24, 44, 81, 149, 274, 504, 927, 1705, 3136, 5768, 10609, 19513, 35890, 66012, 121415, 223317, 410744, 755476, 1389537, 2555757, 4700770, 8646064, 15902591, 29249425, 53798080, 98950096, 181997601, 334745777, 615693474, 1132436852, 2082876103, 3831006429, 7046319384, 12960201916, 23837527729, 43844049029, 80641778674, 148323355432, 272809183135, 501774317241, 922906855808, 1697490356184, 3122171529233, 5742568741225, 10562230626642, 19426970897100, 35731770264967, 65720971788709, 120879712950776, 222332455004452, 408933139743937, 752145307699165, 1383410902447554, 2544489349890656, 4680045560037375, 8607945812375585, 15832480722303616, 29120472094716576, 53560898629395777, 98513851446415969, 181195222170528322, 333269972246340068, 612979045863284359, 1127444240280152749, 2073693258389777176, 3814116544533214284, 7015254043203144209, 12903063846126135669, 23732434433862494162, 43650752323191774040, 80286250603180403871, 147669437360234672073, 271606440286606849984, 499562128250021925928, 918838005896863447985, 1690006574433492223897, 3108406708580377597810, 5717251288910733269692, 10515664571924603091399, 19341322569415713958901, 35574238430251050319992, 65431225571591367370292, 120346786571258131649185, 221352250573100549339469, 407130262715950048358946, 748829299860308729347600, 1377311813149359327046015, 2533271375725618104752561, 4659412488735286161146176, 8569995677610263592944752, 15762679542071167858843489, 28992087708416717612934417, 53324762928098149064722658, 98079530178586034536500564]

### Hard problems

**Problem 22:** Kung-fu mathematician

Once every two thousand years a great demon Oshu comes out of the depths of the earth to fight the best of the best in martial arts. You as the greatest of all kung-fu mathematicians were assigned to defeat the great demon. In order to defeat Oshu you need to hit certain points at his body otherwise the hits will heal the demon.

You are given a list representing the successful and unsuccessful hits on the demon. Your goal is to calculate the [maximum sum contiguous segment](https://www.geeksforgeeks.org/largest-sum-contiguous-subarray/) of the list. If the sum of those values is greater than 20, print "Demon is slayed!", otherwise "Still work to do!".

**Restriction:** You are only allowed to use list comprehensions and Python built-in functions in this task.

In [48]:
# An example which does not cover all edge cases
test = [-1,2,3,-100,4,5,-7] # In this list max sum segment is [4,5] and the sum of the values is 9.

In [49]:
#test = [15,15,-7,-7,34,0,2,-4,-23]
maxsumsegment = [sum(test[i:j]) for i in range(len(test)+1) for j in range(i, len(test)+1)]
print(max(maxsumsegment))
[print("Demon is slayed!") if max(maxsumsegment) > 20 else print("Still work to do!")]

9
Still work to do!

[None]

## Optional

If you solve this problem and later ask me for a reference for your further studies, I promise to give it.

**Problem 24:** Pentagon

Imagine you have hacked Pentagon and you have noticed a strange list written inside the file called "TOP SECRET!".

You immidiately deduced that the integers in the list represent ascii character codes, and you were milliseconds away from decrypting the secret string.

 However suddenly a powerful mangetic storm hit the computers of Pentagon and for some misterious reason all the digits in the list got xored with all the other digits except themselves. "Luckily the size of the original list was even" you thought and started coding the program.

 
 Your goal is to write a function that will take list of integers as intput and recover the original list. After recovering the original list the program should decrypt the secret message.
 
 
 Try your program on the following secret message.
 \[48, 25, 26, 26, 25, 1, 41, 2, 30, 19, 41, 1, 30, 31, 2, 19, 41, 4, 23, 20, 20, 31, 2, 41, 23, 24, 18, 41, 1, 23, 29, 19, 41, 3, 6, 87\]

 **Restiction:** You are only allowed to use list comprehensions in this task.
 
 **Hint:** Use xor properties(we did not cover it during our lectures).

# END